
body {
    font-size: 50px;
    padding-left: 50px;
}
h1{
    display: flex;
    flex-wrap: wrap;
}

body div {
    font-size: 25px;
    color: red;
    width: 100px;
    height: 100px;
    margin-left: 30px;
}

.box{
    border: 10px solid hsla(0, 0%, 100%, .5);
    background: white;
    background-clip: padding-box;
}
/* 多重边框 */
/* .multiple-border{
    width: 100px;
    height: 100px;
    background: yellowgreen;
    box-shadow: 0 0 0 10px #655, 0 0 0 20px deeppink;
} */
.multiple-border{
    background: yellowgreen;
    border: 10px solid #655;
    outline: 10px solid deeppink;
}

/* 背景定位 */
/* .bg-position{
    background: url('./img/WechatIMG4.jpeg') no-repeat #58a; 
    background-size: 50% 50%;
    background-position: right 20px bottom 20px;
} */
/* .bg-position{
    box-sizing: border-box;
    padding: 10px;
    background: url('./img/WechatIMG4.jpeg') no-repeat #58a right bottom; 
    background-size: 50% 50%;
    background-origin: content-box;
} */
.bg-position{
    width: 200px;
    height: 200px;
    background: url('./img/WechatIMG4.jpeg') no-repeat #58a; 
    background-size: 50% 50%;
    background-position: calc(100% - 20px) calc(100% - 20px);
}
/* 边框内圆角 */
.border-radius{
    background: tan;
    border-radius: .8em;
    padding: 1em;
    box-shadow: 0 0 0 0.6em #655;
    outline: .6em solid #655;
}

/* 条纹 */
.stripe-h {
    background: linear-gradient(#fb3 50%, #58a 50%);
    background-size: 100% 25px;
}
.stripe-90 {
    background: linear-gradient(90deg, #fb3 50%, #58a 50%);
    background-size: 25px 100%;
}

.stripe-452 {
    background: linear-gradient(45deg, #fb3 25%, #58a 0%, #58a 50%, #fb3 0%);
    background-size: 100% 100%;
}

.stripe-45 {
    background: linear-gradient(45deg, #fb3 25%, #58a 0%, #58a 50%, #fb3 0, #fb3 75%, #58a 0);
    background-size: 35.3553390593px 35.3553390593px;
}

/* 更好的斜向条纹 */
.stripe-good{
    background: repeating-linear-gradient(45deg, #fb3, #fb3 25px, #58a 0, #58a 50px);
}
.stripe-60{
    background: repeating-linear-gradient(60deg, #fb3, #fb3 20px, #58a 0, #58a 40px);
}

/* 网格 */
.gride{
    background: white;
    background-image: linear-gradient(90deg, rgba(200, 0, 0, .5) 50%, transparent 0),
                      linear-gradient(rgba(200, 0, 0, .5) 50%, transparent 0);
    background-size: 30px 30px;
}


/* 三角形 */
.trigon {
    border: 10px solid rgb(0, 0, 0);
    border-color: transparent transparent rgb(0, 0, 0) transparent;
    border-width: 10px 100px 150px 100px;
    width: 0;
}